<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
  <title>FIFAワールドカップ</title>
</head>

<body>
  <div>
    <h1>FIFAワールドカップ</h1>
  </div>

  <div>
    <p>
      <strong>FIFAワールドカップ</strong> （英: <em>FIFA World Cup</em>）は、
      <a href="https://ja.wikipedia.org/wiki/%E5%9B%BD%E9%9A%9B%E3%82%B5%E3%83%83%E3%82%AB%E3%83%BC%E9%80%A3%E7%9B%9F">
        国際サッカー連盟
      </a> （FIFA）が主催する、男子ナショナルチームによるサッカーの世界選手権大会。 サッカーの大会の世界最高峰と位置付けられ、全世界のテレビ視聴者数や経済効果は
      <a href="https://ja.wikipedia.org/wiki/%E8%BF%91%E4%BB%A3%E3%82%AA%E3%83%AA%E3%83%B3%E3%83%94%E3%83%83%E3%82%AF">
        オリンピック
      </a> を凌ぐ世界最大のスポーツイベント。
    </p>

    <p>
      女子の世界選手権大会についてはFIFA女子ワールドカップを、クラブチームの世界選手権大会についてはFIFAクラブワールドカップを参照。
    </p>
  </div>

  <div>
    <h2>概要</h2>

    <ul>
      <li>開始年：1930年</li>
      <li>主催：FIFA</li>
      <li>地域：世界</li>
      <li>参加チーム数：32（本大会）</li>
      <li>前回優勝：
        <a href="https://ja.wikipedia.org/wiki/%E3%82%B5%E3%83%83%E3%82%AB%E3%83%BC%E3%83%89%E3%82%A4%E3%83%84%E4%BB%A3%E8%A1%A8">
            ドイツ
          </a></li>
      <li>最多優勝：
        <a href="https://ja.wikipedia.org/wiki/%E3%82%B5%E3%83%83%E3%82%AB%E3%83%BC%E3%83%96%E3%83%A9%E3%82%B8%E3%83%AB%E4%BB%A3%E8%A1%A8">
            ブラジル
          </a></li>
    </ul>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/ja/thumb/5/5d/FIFA_World_Cup_Trophy_2002_0103.jpg/300px-FIFA_World_Cup_Trophy_2002_0103.jpg" alt="FIFAワールドカップトロフィー">
      <br> "FIFAワールドカップトロフィー"
    </div>
  </div>

  <div>
    <h2>歴代開催国</h2>
    <ol>
      <li>1930年：ウルグアイ</li>
      <li>1934年：イタリア</li>
      <li>1938年：フランス</li>
      <li>1950年：ブラジル</li>
      <li>1954年：スイス</li>
    </ol>
    <br>
    This page is a minimized version of
    <a href = "https://ja.wikipedia.org/wiki/FIFA%E3%83%AF%E3%83%BC%E3%83%AB%E3%83%89%E3%82%AB%E3%83%83%E3%83%97">
      wikipedia entry
    </a>
  </div>

</body>

</html>
