<html>

<head>
    <title>FIFA WorldCup</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="p12_2.css">
</head>

<body>
    <div id="title">2018 FIFA WorldCup</div>

    <ul id="top-menu">
        <li><a class="active" href="">開催国選定の経緯</a></li>
        <li><a href="#details">予選</a></li>
        <li><a href="#qualification">出場国</a></li>
        <li><a href="#theevent">本大会</a></li>
    </ul>
    <div id="main">
        <div>
            2018 FIFAワールドカップ (英: 2018 FIFA World Cup)は、2018年6月14日から7月15日にかけて、ロシアで開催されている第21回目のFIFAワールドカップ。東ヨーロッパでは初の開催である。
        </div>
        <div>
            <h2 id="details">開催国選定の経緯</h2>
            <p>
                詳細は「2018/2022 FIFAワールドカップ開催地決定投票」を参照
                投票の結果、ロシアに決定した[1]。これに伴いロシアは予選免除となった。

                開催国の決定方法は、国際オリンピック委員会の五輪開催地決定投票と同じ方式で、英国紙のおとり取材による買収疑惑発覚で職務停止処分を受けた2理事を除く、国際サッカー連盟理事22人による投票。各回ごとに過半数の国・地域が出るまで投票を繰り返し、過半数がない場合はその回の得票最下位の国・地域を次の投票から除外する方式で行われた。同数になった場合のみ、ブラッターFIFA会長の1票で決まるという方式だった[2]。

                欧州4候補の内、最初にイングランドが落選。その後2回目でロシアが13票を集めて過半数を獲得した為、ロシアの開催が決定した。

                2002年からFIFA理事を務めていた小倉純二当時日本サッカー協会(JFA)会長現JFA名誉会長によれば、開催地決定に関して最も影響力のあるのはFIFA視察団が立候補国を現地調査して提出する調査報告書(レポート)だという。ところが、今回は全く違い、レポート評価は、2018年開催が決まったロシアが全体で2番目に低く、2018年の4候補の中では最下位、同時に2022年開催が決まったカタールは全体及び2018年の5候補内の両方で最下位だった[3]。
            </p>
            <table class="wikitable" cellpadding="3" style="border-collapse: collapse; text-align: right">
                    <tbody><tr>
                    <th colspan="3">2018年FIFAワールドカップ開催国投票</th>
                    </tr>
                    <tr>
                    <th>立候補国</th>
                    <th>1回目</th>
                    <th>2回目</th>
                    </tr>
                    <tr>
                    <td style="text-align: left;"><b>ロシア</b></td>
                    <td bgcolor="#CCFFCC"><b>9</b></td>
                    <td bgcolor="#CCFFCC"><b>13</b></td>
                    </tr>
                    <tr>
                    <td style="text-align: left;">スペイン・ ポルトガル</td>
                    <td>7</td>
                    <td bgcolor="#FFFFCC">7</td>
                    </tr>
                    <tr>
                    <td style="text-align: left;">オランダ・ベルギー</td>
                    <td>4</td>
                    <td>2</td>
                    </tr>
                    <tr>
                    <td style="text-align: left;">イングランド</td>
                    <td>2</td>
                    <td bgcolor="#CCCCCC"></td>
                    </tr>
                    </tbody></table>
        </div>
        <div>
                <h2 id="qualification">予選</h2>
                <p>
                    詳細は「2018 FIFAワールドカップ・予選」を参照
                </p>
        </div>
        <div>
                <h2 id="nations">出場国</h2>
                <p>
                        初出場はアイスランド、パナマで、過去のワールドカップの優勝国でイタリアを除く7ヶ国 (ウルグアイ、ドイツ、ブラジル、イングランド、アルゼンチン、フランス、スペイン)が出場することとなった。また予選では強豪国または常連国の敗退が相次ぎ、前述のイタリアを始めオランダ、アメリカ合衆国、チリ等が予選で敗退した。

                        出場選手は2018 FIFAワールドカップ参加チームを参照。
                </p>
                <img alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/2018_FIFA_World_Cup_qualification_map.png/800px-2018_FIFA_World_Cup_qualification_map.png" width="400" height="179" class="thumbimage" data-file-width="1348" data-file-height="603">
        </div>
        <div>
                <h2 id="theevent">本大会</h2>
                <p>
                        初出場はアイスランド、パナマで、過去のワールドカップの優勝国でイタリアを除く7ヶ国 (ウルグアイ、ドイツ、ブラジル、イングランド、アルゼンチン、フランス、スペイン)が出場することとなった。また予選では強豪国または常連国の敗退が相次ぎ、前述のイタリアを始めオランダ、アメリカ合衆国、チリ等が予選で敗退した。

                        出場選手は2018 FIFAワールドカップ参加チームを参照。
                </p>
                <img alt="2018 FIFAワールドカップの位置（ヨーロッパロシア内）" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/European_Russia_laea_location_map_%28Crimea_disputed%29.svg/720px-European_Russia_laea_location_map_%28Crimea_disputed%29.svg.png" width="360" height="475" data-file-width="1181" data-file-height="1558">
        </div>
    </div>
</body>

</html>
